CC=gcc

ifeq ($(CC), gcc)
	MPIFLAGS+=--std=c++11 -Wno-long-long
else
	MPIFLAGS+=--std=gnu++11 -Wno-c++11-long-long --stdlib=libc++
endif




PETSC_DIR = /home/shivaebola/Documents/Software/petsc/petsc-3.6.1

LDIR = /home/shivaebola/GitLab/FEP/lib
PUMI_DIR = $(LDIR)/pumi
GTEST_DIR =  ~/GitLab/googletest

